.idea
node_modules
.secret
package-lock.json
build/contracts/
bridge.log
.node-xml*
.DS_Store
*/.DS_Store
deploy
./contracts/config/Config.sol
./contracts/config/ConfigRinkebynet.sol
types

# coverage related
/coverage
coverage.json

# compound related
/compound-protocol
node_modules

#Buidler files
cache
artifacts

.openzeppelin/.session

# snapshots folder
./snapshots
